<form class="container" (ngSubmit)="onSubmit()" #loginForm1 = "ngForm">
  <div class="blur-background"></div>
  <div class="login-container">
  <h1>The Keystrokes</h1>
  <p>  
    <input type="text" name="email" ngModel id="email" placeholder="Email" autocomplete="off">
  </p>
  <p>   
    <input type="password" name="password" ngModel id="password" placeholder="Password" >
  </p>
  <div class="loginbtn-container">
    <input class="btn-login"  type="submit" name="login" id="login" value="Login">
    <span class="forgot-password"><u>Forgot password ?</u></span>
  </div>
  </div>
</form>