.container{
display: flex;  
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;

 position: relative;
}
.blur-background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://stackblitz.com/files/angular9876789/github/Aaditya-Bansal/angular-ivy-gdbei3/master/src/app/retrosupply-jLwVAUtLOAQ-unsplash.jpg');  background-position: center;
background-repeat: no-repeat;
background-size: cover;
  //filter: blur(1px);
  z-index: -1;
}


* { box-sizing: border-box; }

body {
	font-family: Arial,"Lucida Grande",sans-serif;
  
  font-size:12px;
  
}
.btn-login{
  background: rgb(180, 195, 68);
  border: 1px solid green;
  border-radius: 5px;
  color: black;
  width:100%;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
    //box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
  

}
.login-container {
  z-index: 2;
 	background-color:rgba(0, 0, 0, 0.404); 
width:300px;
  
  border-radius:0.4em;
  //border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
  padding:20px; 
  border-top:1px solid #19191a;
}


 h1 {
  font-size:20px;
color: rgb(255, 255, 255);
 
  text-align:center;
  padding:15px 0;
  position:relative;
}

 

label {
 	color:white;
  display:block;
  padding-bottom:9px;
}

input[type=text],
input[type=password] {
 	width:100%;
  padding:8px 5px;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:20px;
  color: white;
}

label[for=remember]{
 	color:white;
  display:inline-block;
  padding-bottom:0;
  padding-top:5px;
}

input[type=checkbox] {
 	display:inline-block;
  vertical-align:top;
}

.p-container {
 	padding:0 20px 20px 20px; 
}
.loginbtn-container{
padding:0 40px 20px 40px; 
display: flex;  
justify-content: center;
align-items: center;
flex-direction: column;
}

.p-container:after {
 	clear:both;
  display:table;
  content:"";
}

.p-container span {
  display:block;
  float:left;
  color:#0d93ff;
  padding-top:8px;
}


input[type=text]:hover,
input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
 	background:#27292c;
}

input:focus{
    outline: none;
}
.forgot-password{
  margin-top: 10px;
}