<div class="container">
  <div class="blur-background"></div>
  <div class="login-container">
  <h1>The Keystrokes</h1>
  <div class="inset">
  <p>
    
    <input type="text" name="email" id="email" placeholder="Email">
  </p>
  <p>
    
    <input type="password" name="password" id="password" placeholder="Password">
  </p>
  
  </div>
  
  <div class="loginbtn-container">
    <input class="btn-login" type="submit" name="login" id="login" value="Login">
    <span class="forgot-password"><u>Forgot password ?</u></span>
  <div>
  
    
  
  

  
</div>
</div>